@model FoodShop.Models.GMenuFood
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var y = @ViewBag.index;
}

<div class="container">
    <div class="single">
        <div class="col-md-9  single-top">
            <div class="text-in">
                <div class="single-men">
                  <form action="SingleEdit">
                    <img class="img-responsive" src="~/Content/images/sin.jpg" alt="" />
                    <h5> @Html.DisplayFor(x => x.LsMenuFood[0].NameFood) </h5>
                      <input type="hidden" name="txtid" value=@Html.DisplayFor(x => x.LsMenuFood[0].ID)>
                    <span>Name Food</span>
                    <input type="text" name="txtname" value="">
                    <p>  @Html.DisplayFor(x => x.LsMenuFood[0].PriceFood) </p>
                    <span>Price Food</span>
                    <input type="text" name="txtprice" value="">
                    <p>  @Html.DisplayFor(x => x.LsMenuFood[0].InfoFood) </p>
                    <span>Info Food</span>
                    <input type="text" name="txtinfo" value="">
                    <input type="submit" value="OK">
                  </form>
                </div>
                <ul class="comment-list">
                    <h5 class="post-author_head">Written by <a href="#" title="Posts by admin" rel="author">admin</a></h5>
                    <li>
                        <img src="~/Content/images/avatar.png" class="img-responsive" alt="">
                        <div class="desc">
                            <p>View all posts by: <a href="#" title="Posts by admin" rel="author">admin</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
                <div class="comments-area">
                    <h3>Add New Comment</h3>
                    <form>
                        <p>
                            <label>Subject</label>

                            <textarea></textarea>
                        </p>
                        <div class="sub-in">
                            <input type="submit" value="Submit Comment">
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <div class="col-md-3 single-bottom">
            <div class="store-right">
                <h6> Categories</h6>
                <ul class="store-men">
                    <li><a href="#"><span> </span>Contrary to popular </a></li>
                    <li><a href="#"><span> </span>simply random text</a></li>
                    <li><a href="#"><span> </span> Lorem Ipsum passage </a></li>
                    <li><a href="#"><span> </span>undoubtable source </a></li>
                    <li><a href="#"><span> </span>Finibus Bonorum et</a></li>
                    <li class="last"><a href="#"><span> </span>word in classical literature </a></li>
                </ul>
            </div>
            <div class="store-right">
                <h6>Top rated products</h6>
                <div class="product">
                    <img class="img-responsive fashion" src="~/Content/images/st1.jpg" alt="" />
                    <div class="grid-product">
                        <a href="#" class="elit">consectetuer adipiscing elit</a>
                        <span class="price price-in"><small>$15.00</small> $10.00</span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="product">
                    <img class="img-responsive fashion" src="~/Content/images/st2.jpg" alt="" />
                    <div class="grid-product">
                        <a href="#" class="elit">consectetuer adipiscing elit</a>
                        <span class="price price-in"><small>$15.00</small> $10.00</span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="product">
                    <img class="img-responsive fashion" src="~/Content/images/st3.jpg" alt="" />
                    <div class="grid-product">
                        <a href="#" class="elit">consectetuer adipiscing elit</a>
                        <span class="price price-in"><small>$150.00</small> $10.00</span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="product">
                    <img class="img-responsive fashion" src="~/Content/images/st4.jpg" alt="" />
                    <div class="grid-product">
                        <a href="#" class="elit">consectetuer adipiscing elit</a>
                        <span class="price price-in"><small>$15.00</small> $10.00</span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!---->