@model FoodShop.CSDL.Group_Index

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var r = @Model.LsFoodMain.Count;
    Random rd = new Random();
    var i = rd.Next(0, r);
    var h = 0;
}
<div class="cup">
    @while(h!=9 && i < r)
    {
        <div class="col-md-4 cup-in" style="float:left; margin:0.7em;">
            <a href="/Food/Single?ID=@Model.LsFoodMain[i].ID"><img src="~/Content/images/@Model.LsFoodMain[i].Image" style="width: 174px; height: 178.5px; color: #35a22c;"></a>
            <p>@Model.LsFoodMain[i].Name</p>
            <span class="dollar">@Model.LsFoodMain[i].UnitPrice K</span>
            <div class="details-in">
                @Html.ActionLink("Details", "Single", new { ID = Model.LsFoodMain[i].ID }, new { @class = "details" })
            </div>
            <div class="details-in"></div>
            <div class="clearfix"> </div>
        </div>
        i++;
        h++;
        if(i==r)
        {
            i = 0;
        }
    }
    <div class="clearfix"> </div>
</div>

<div class="browse">
    <p class="vit">Món ăn dân gian quanh khu vực Phố cổ <span> Hoàn Kiếm Hà Nội ...</span></p>
    <a href="nau.vn" class="more">Browse More</a>
    <div class="clearfix"> </div>
    <div class="arrow">
        <a href="/Food/Main"><img src="~/Content/images/arrow.png" alt=""></a>
    </div>
</div>