@model FoodShop.Models.GMenuFood
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="cup">
    <div class="col-md-4 cup-in">
        <a href=""><img src="~/Content/images/none.jpg" class="img-responsive" alt=""></a>
        <p> Không có </p>
        <span class="dollar">K</span>
        <div class="clearfix"> </div>
    </div>

    <div class="col-md-4 cup-in">
        <a href=""><img src="~/Content/images/none.jpg" class="img-responsive" alt=""></a>
        <p> Không có </p>
        <span class="dollar">K</span>
        <div class="clearfix"> </div>
    </div>

    <div class="col-md-4 cup-in">
        <a href=""><img src="~/Content/images/none.jpg" class="img-responsive" alt=""></a>
        <p> Không có </p>
        <span class="dollar">K</span>
        <div class="clearfix"> </div>
    </div>

    <div class="col-md-4 cup-in">
        <a href=""><img src="~/Content/images/none.jpg" class="img-responsive" alt=""></a>
        <p> Không có </p>
        <span class="dollar">K</span>
        <div class="clearfix"> </div>
    </div>

    <div class="col-md-4 cup-in">
        <a href=""><img src="~/Content/images/none.jpg" class="img-responsive" alt=""></a>
        <p> Không có </p>
        <span class="dollar">K</span>
        <div class="clearfix"> </div>
    </div>

    <div class="col-md-4 cup-in">
        <a href=""><img src="~/Content/images/none.jpg" class="img-responsive" alt=""></a>
        <p> Không có </p>
        <span class="dollar">K</span>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!---->
<div class="browse">
    <p class="vit">Mollis vitae oigu edlobit <span>vulipur felis ...</span></p>
    <a href="single.html" class="more">Browse More</a>
    <div class="clearfix"> </div>
    <div class="arrow">
        <a href="#"><img src="~/Content/images/arrow.png" alt=""></a>
    </div>
</div>

