@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="specials">
        <h2>Top Menu</h2>
        <div class="special-top">
            <div class="col-md-3 special-in">
                <a href="single.html">
                    <img src="~/Content/images/pi2.jpg" class="img-responsive" alt="">
                </a>
                <h5><a href="single.html"> Top rated food </a></h5>
                <p>Food</p>
            </div>
            <div class="col-md-3 special-in">
                <a href="single.html">
                    <img src="~/Content/images/pi.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="single.html">Top rated restaurant</a></h5>
                <p>Restaurant</p>
            </div>
            <div class="col-md-3 special-in">
                <a href="single.html">
                    <img src="~/Content/images/pi1.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="single.html">Top sale food</a></h5>
                <p>Sale</p>
            </div>
            <div class="col-md-3 special-in">
                <a href="single.html">
                    <img src="~/Content/images/pi4.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="single.html">Food Hà Nội</a></h5>
                <p>Hà Nội</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="special-top">
            <div class="col-md-3 special-in">
                <a href="single.html">
                    <img src="~/Content/images/pi3.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="single.html"></a>Top views food</h5>
                <p>Food</p>
            </div>
            <div class="col-md-3 special-in">
                <a href="single.html">
                    <img src="~/Content/images/pi7.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="single.html">Top sale restaurant</a></h5>
                <p>Restaurant</p>
            </div>
            <div class="col-md-3 special-in">
                <a href="single.html">
                    <img src="~/Content/images/pi6.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="single.html">Top new food</a></h5>
                <p>Food</p>
            </div>
            <div class="col-md-3 special-in">
                <a href="single.html">
                    <img src="~/Content/images/pi5.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="single.html">Top new restaurant</a></h5>
                <p>Restaurant</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="special-bottom">
            <div class="col-md-6 bottom-special">
                <h5><a href="single.html"> Nem Chua Nướng </a></h5>
                <p> Món ăn nổi tiếng bậc nhất Hà thành </p>
                <a href="single.html" class="details">Details</a>
            </div>
            <div class="col-md-6 bottom-special-1">
                <h5><a href="single.html"> Nhà Hàng Emelada </a></h5>
                <p> Nhà hàng nổi tiếng về cung cách phục vụ khách hàng </p>
                <a href="single.html" class="details">Details</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
